.App {
 width: 340px;
 height: 300px;
 margin: 0 auto;
 margin-top: 20px;
 border: 1px solid grey;
 border-radius: 4px;
 font-family: sans-serif;
 text-align: center;
}

.search-container {
 margin-top: 30px;
}

.search-container input:nth-child(1) {
 padding-right: 30px;
 margin-right: 10px;
}

p {
 text-align: left;
 font-family: "Poppins", sans-serif;
 color: rgb(95, 95, 95);
}

.weather-container {
 display: flex;
 justify-content: space-evenly;
 width: 100%;
}

.temp-container {
 display: flex;
 align-items: flex-end;
 width: 50%;
}

.link-container{
text-align: center;
font-size:0.8rem;
}

.link-container a{
 text-decoration: none;
}